*{  margin: 0px; 
   padding: 0px;
  } 

body{  text-align: center; 
   display:flex;  
   align-items: center; 
    justify-content: center;  
    height: 100vh; 
     background: rgba(202, 180, 206, 0.5);
    } 
    #calculator{  
      max-width: 360px; 
       background-color: rgb(125, 67, 143); 
        border-radius: 15px; 
         padding: 20px; 
          box-shadow: 0 10px 20px rgba(165, 143, 143, 0.2);
        } 
        #display{ 
           width: 100%;
            height: 55px; 
             font-size: 20px;
               text-align: right; 
                margin-bottom: 10px; 
                 padding: 15px; 
                  box-sizing: border-box; 
                   border-radius: 5px;  color: rgb(229, 216, 238);  
                   background-color: rgb(170, 155, 212); 
                    border:none;
                  } 
                  button{ 
                     width: calc(25% - 10px);  
                    height: 50px; 
                     font-size: 20px;
                       margin:2%; 
                        border: none; 
                         background-color: rgb(188, 110, 240);
                           color:rgb(231, 206, 228);  margin:2px
                          } 
                          
                          .equal, .zero{  width: calc(50% - 10px);}